body{
    margin:0;
    padding:0;
    background-color: #eee;
    font-family: 'Lato', sans-serif;
}
.header{
    
    
    height:75px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right:50px;
}
.logo{
    width:70px;
}
.picture{
    width:300px;
    margin-top:20px;
    margin-left:35px;
}
nav ul li{
    list-style-type: none;
    
    
}
nav{
    width:40%;
    
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:30px;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.email{
    width:250px;
    font-size:15px;
    padding:5px;
}
.button{
    background-color: #f1c40f;
    width:150px;
    font-size:20px;
    border:none;
    font-weight:bold;
    margin-top:15px;
    padding:5px;
}


.content{
    display:flex;
    margin-top:70px;
   
}
.left-section{
width:20vw;

display:flex;
align-items: center;
justify-content: center;
}
.right-section{
width:80vw;

}
.container{
  
    max-width: 1000px;
    width: 100%;
    margin: 100px auto;
}
.name{
    font-size:23px;
    font-weight:bold;
}
