
body{
    margin:0;
    padding-top:80px;
    padding-left:80px;
    background-color: rgb(247, 244, 244);
}

.header{
    height:57px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index: 100;
    background-color: white;
    width:100%;
    border-bottom: 1px solid #dedede;
    
}
.left-section{
display:flex;
align-items: center;


}
.hamburger-menu{
    margin-left:20px;
    height:24px;
}
.youtube-logo{
    margin-left:20px;
    height:24px;

}
.middle-section{
    max-width:470px;
    margin-left:60px;
display:flex;
align-items:center;
flex:1;
}
.search{
    height:40px;
    font-size: 16px;
    max-width: 380px;
    padding-top:10px;
    padding-left:10px;
    padding-bottom:10px;
   flex:1;
    border: 1px solid #cccccc;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    box-shadow: inset 0px 1px 2px #eeeeee;
}
.search-icon{
height:40px;
width:64px;
border: 1px solid #cccccc;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    box-shadow: inset 0px 1px 2px #eeeeee;
}

.search-icon img{
    height:24px;
}
.voice-search-icon{
    height:40px;
  width:40px;
  border-radius:32px;
  margin-left:10px;
  border-style: none;
}


.right-section{

width:200px;
display:flex;
justify-content: space-between;
margin-right: 10px;
margin-left:10px;
flex-shrink:0;
}
.right-section img{
height:23px;
}
.account{
    height: 64px;
    border-radius:32px;
}


.side-bar{
    background-color: white;
    position:fixed;
    z-index:200;
    top:57px;
    left:0;
    bottom:0;
    width:70px;
    cursor:pointer;
}
.sidebar-link:hover{
    background-color: rgb(241, 238, 238);
}
.icon-sidebar{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    font-size:10px;
    
    
}
.sidebar-link{
    height:74px;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    padding-top:5px;

   
    
}
.icon-sidebar img{
    height:24px;
}
.icon-sidebar p {
    margin-top:8px;
    font-family:roboto;
}

.video-time{
position:relative;
}
.video1{
    position:absolute;
    bottom:13px;;
    right:10px;
    background-color: black;
    color:white;
    padding:4px;
    border-radius:2px;
}
.content{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr ;

    column-gap: 20px;
    row-gap:10px;
    
    
   
}

.thumbnail {
    width:100%;
    border-radius: 15px;
}
.channel{
    width:100%;
    
    
}
.channel{
    border-radius:60px;
    margin-top:10px;
}
.video-info{
    width:100%;
}
.video-preview{
    display:grid;
    grid-template-columns: 50px 1fr;

}
.channel-name{
    display:block;
}
.video-title{
    margin:11px;
    font-size:20px;
    
}
p{
    margin:0;
    font-family: 'Roboto', sans-serif;

}
.channel-name, .channel-stats{
    margin-left:10px;
    margin-bottom:3px;
}